# Virtual environment
venv/
env/

# Bytecode files
_pycache_/
*.pyc
*.pyo

# Environment variables
.env
*.env

# Logs
logs/
*.log

# Static and media files (if managed outside Git)
staticfiles/
media/

# Migrations (optional, if you don’t want to track generated migration files)
/migrations/.py
!*/migrations/_init_.py

# PostgreSQL-specific (ignore database dumps)
*.sql
*.dump

# VS Code and JetBrains IDEs
.vscode/
.idea/

# MacOS and Windows system files
.DS_Store
Thumbs.db